.recipe {
    background-color: white;
    margin: .5rem;
    padding: 2rem;
    box-shadow: 0 3px 5px gray;
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.recipe:hover {
    scale: 1.5;
}

.ingredient {
    font-size: 1.5rem;
    list-style: none;
}

.title {
    font-weight: 300;
}

.calories {
    font-size: 1.5rem;
}

.image {
    border-radius: 5px;
}